.education {
  padding: 4rem 18rem;
  background-color: #f4f4f9;
  text-align: center;
}

.heading {
  font-size: 2.8rem;
  font-weight: 700;
  color: #37517e;
  margin-bottom: 5rem;
  text-align: center;
  position: relative;
  text-transform: uppercase;
}
.heading::after {
  content: "";
  display: block;
  width: 14rem;
  height: 4px;
  background-color: #47b2e4;
  margin: 0.2rem auto 0;
  border-radius: 5px;
}

.educationList {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
}

.educationItem {
  background-color: #fff;
  padding: 4rem 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: left;
}
.icon {
  font-size: 3rem;
  color: #47b2e4;
  padding-left: 4rem;
}
.degree {
  font-size: 2rem;
  color: #47b2e4;
}

.institution {
  font-size: 1.5rem;
  color: #555;
  text-align: left;
}

.year {
  font-size: 1.4rem;
  color: #555;
  text-align: left;
}

.educationItem label {
  font-weight: bold;
  /* color: black; */
  padding-right: 1rem;
}
@media (max-width: 768px) {
  .educationList {
    grid-template-columns: 1fr;
  }
}
