.footer {
  padding: 4rem;
  background-color: #f4f4f9;
  color: #555;
  text-align: center;
}

.footerInfo {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 4rem;
}

.personalInfo {
  font-size: 1.5rem;
  text-align: left;
  margin-bottom: 2rem;
  line-height: 1.8;
  flex: 1 1 30%;
}

.personalInfo h2 {
  font-size: 2.4rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

h2,
h4 {
  color: #37517e;
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  margin-bottom: 1rem;
}

.forwardIcon {
  font-size: 1.4rem;
  color: #47b2e4;
}

ul.socialLinks {
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  padding-left: 1rem;
}

ul.socialLinks a {
  transition: transform 0.3s ease;
  width: 3.5rem;
  height: 3.5rem;
  border: 1px solid #555;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
ul.socialLinks a:hover {
  border: 1px solid #47b2e4;
}
ul.socialLinks a:hover .icon {
  color: #47b2e4;
}
.icon {
  color: #555;
  transition: color 0.3s ease, transform 0.3s ease;
  font-size: 1.8rem;
}

.copyright {
  margin-top: 2rem;
  font-size: 1.4rem;
  color: #555;
}

.linksSection,
.servicesSection,
.socialMediaSection {
  font-size: 1.5rem;
  flex: 1 1 30%;
  text-align: left;
}

.linksSection h4,
.servicesSection h4,
.socialMediaSection h4 {
  margin-bottom: 2rem;
  font-size: 2rem;
}

.linksSection a,
.servicesSection a {
  text-decoration: none;
  color: #555;
}

.linksSection a:hover,
.servicesSection a:hover {
  color: #47b2e4;
}

.linksSection p,
.servicesSection p {
  padding-left: 1rem;
}

@media (max-width: 1024px) {
  .footerInfo {
    flex-direction: column;
    text-align: center;
    gap: 2rem;
  }

  .personalInfo,
  .linksSection,
  .servicesSection,
  .socialMediaSection {
    flex: 1 1 100%;
    padding-left: 0;
  }

  .socialLinks {
    justify-content: center;
  }

  .icon {
    font-size: 2rem;
  }
}

@media (max-width: 768px) {
  .footer {
    padding: 2rem 3rem;
  }

  .footerInfo {
    flex-direction: column;
  }

  .personalInfo {
    flex: 1 1 100%;
    margin: 1rem 0;
    padding-left: 0;
  }

  .linksSection,
  .servicesSection,
  .socialMediaSection {
    flex: 1 1 100%;
  }

  .socialLinks {
    gap: 1rem;
  }

  .icon {
    font-size: 2rem;
  }
}

@media (max-width: 480px) {
  .footer {
    padding: 2rem 3rem;
  }

  .personalInfo {
    padding-left: 0;
  }

  .footerInfo {
    flex-direction: column;
    gap: 2rem;
  }

  .linksSection,
  .servicesSection,
  .socialMediaSection {
    flex: 1 1 100%;
  }

  .socialLinks {
    gap: 1rem;
  }

  .icon {
    font-size: 2.2rem;
  }

  .copyright {
    font-size: 1.2rem;
  }
}
