.projects {
  padding: 6rem 10rem;
  background-color: #f4f4f9;
  text-align: center;
  /* min-height: 100vh; */
}

.heading {
  font-size: 2.8rem;
  font-weight: 700;
  color: #37517e;
  margin-bottom: 5rem;
  text-align: center;
  position: relative;
  text-transform: uppercase;
  display: inline-block;
}

.heading::after {
  content: "";
  display: block;
  width: 75%;
  height: 4px;
  background-color: #47b2e4;
  margin: 0.2rem auto 0;
  border-radius: 5px;
}

.projectList {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
  padding: 0 2rem;
}

.project {
  background-color: #fff;
  padding: 2.5rem;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  text-align: left;
}

.project:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.projectImage {
  width: 100%;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
}

.projectTitle {
  font-size: 2rem;
  color: #47b2e4;
  margin-top: 2rem;
  text-align: left;
}

.projectDescription {
  font-size: 1.6rem;
  color: #555;
  margin: 1rem 0;
  line-height: 1.6;
  text-align: left;
}

.projectLink {
  display: none;
  color: #47b2e4;
  font-size: 1.5rem;
  text-decoration: none;
  font-weight: bold;
  margin-top: auto;
  text-align: center;
}

.projectLink:hover {
  text-decoration: underline;
}

/* Responsive Styles */

/* Medium Screens (768px and below) */
@media (max-width: 1080px) {
  .projects {
    padding: 3rem 5rem;
  }
  .heading {
    font-size: 2.4rem;
  }
  .heading::after {
    width: 13rem;
  }
}
@media (max-width: 768px) {
  .projects {
    padding: 3rem 5rem;
  }

  .projectList {
    grid-template-columns: 1fr;
    gap: 2rem;
  }

  .project {
    padding: 2rem;
  }

  .projectTitle {
    font-size: 1.8rem;
  }

  .projectDescription {
    font-size: 1.4rem;
  }

  .projectLink {
    font-size: 1.4rem;
  }
}

/* Small Screens (480px and below) */
@media (max-width: 480px) {
  .projects {
    padding: 2rem 1rem;
  }

  .heading {
    font-size: 2rem;
    margin-bottom: 3rem;
  }
  .heading::after {
    width: 10rem;
  }

  .project {
    padding: 1.5rem;
  }

  .projectImage {
    border-radius: 6px;
  }

  .projectTitle {
    font-size: 1.6rem;
  }

  .projectDescription {
    font-size: 1.3rem;
    line-height: 1.5;
  }

  .projectLink {
    font-size: 1.3rem;
  }
}
